<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>

<body>
    <h1>Seja bem-vindo a Recipes {{ name }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi a voluptas ab itaque. Qui aspernatur temporibus
        aliquid tempora tenetur officiis possimus nesciunt! Minima sunt repudiandae alias amet laudantium. Iste,
        eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vel nesciunt nostrum! Nesciunt
        repellendus eaque at quam ipsam cum, voluptatem quisquam excepturi debitis fugiat aliquam pariatur error autem
        similique laudantium! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis eaque officiis velit sint
        illum, dolorum qui nulla doloremque ad. Nam facilis quaerat, ipsam quod vel impedit ipsum totam debitis dolores?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto odit laborum, et modi eum dolore ad quibusdam
        cum quo officia voluptas voluptate molestias temporibus impedit. Dolore, dolorem. Quisquam, voluptas unde.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit excepturi asperiores omnis adipisci
        repellendus nam quis commodi recusandae, provident, totam, quod officiis blanditiis reprehenderit voluptatibus
        ducimus assumenda ut a aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quasi
        doloremque esse consequatur, beatae officia sed cum alias explicabo tempora minus! Et earum vel eius, aut cum
        rem perferendis a. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus aspernatur in beatae
        inventore corrupti laudantium qui veritatis, porro unde officia esse distinctio commodi! Itaque ad esse autem
        omnis numquam mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur maxime sit dolore
        labore! Dignissimos at rerum accusantium nulla laudantium excepturi fugit ducimus, cupiditate, ipsa, nesciunt
        placeat eos eligendi tempore quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quam
        distinctio debitis earum numquam aut? Dolores, fugiat quis enim atque pariatur explicabo perferendis ad
        inventore ullam debitis at neque rerum!</p>
</body>

</html>